/* Footer Styles */
footer {
    background-color: #50c878;
    color: #fff;
    text-align: center;
    padding: 30px;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-left,
  .footer-center {
    flex: 1;
    text-align: left;
  }
  
  .footer-center {
    display: flex;
    justify-content: center;
  }
  
  .footer-center a {
    margin: 0 8px;
  }
  
  .footer-bottom {
    margin-top: 20px;
    font-size: 14px;
  }
  
  .footer-bottom a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-bottom a:hover {
    text-decoration: underline;
  }
  
  #back-to-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #1273eb;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: none;
  }
  
  #back-to-top-btn:hover {
    background-color: #358750;
  }