/* Reset default styles for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f9f9f9;
}

/* Header Styles */
header {
  background-color: #16d452;
  color: #fff;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.logo {
  flex: 1;
  max-width: 150px;
}

.logo img {
  width: 100%;
  height: auto;
}

.hamburger-menu {
  display: inline-block;
  cursor: pointer;
}

.bar {
  width: 30px;
  height: 3px;
  background-color: #fff;
  margin: 6px 0;
}

.navigation-wrapper {
  display: flex;
  align-items: center;
}

.navigation-menu {
  display: none;
  align-items: center;
  list-style: none;
  margin-left: 40px;
}

.navigation-menu a {
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  margin: 0 20px;
  padding: 10px 0;
  position: relative;
}

.navigation-menu a:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: width 0.2s ease-in-out;
}

.navigation-menu a:hover:before {
  width: 100%;
}

.user-login {
  display: flex;
  align-items: center;
}

.user-login a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  margin: 0 10px;
  padding: 10px 15px;
  border: 1px solid #fff;
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out;
}

.user-login a:hover {
  background-color: #fff;
  color: #333;
}

/* Hamburger Menu for Smaller Screens */

.navbar {
  background-color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: #fff;
}

.logo img {
  width: 100px;
}

.hamburger-menu {
  display: none;
  cursor: pointer;
}

.hamburger-menu .bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px 0;
}

.navigation-menu {
  display: flex;
}

.navigation-menu a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

@media screen and (max-width: 768px) {
  .hamburger-menu {
      display: block;
  }
  .navigation-menu {
      display: none;
      flex-direction: column;
  }
  .navigation-menu.active {
      display: flex;
  }
}

/* Welcome Section Styles */
.welcome {
  text-align: center;
  padding: 100px 0;
  background: none;
  color: black;
}

.welcome h1 {
  color: #007bff;
  font-size: 60px;
  margin-bottom: 20px;
}

.welcome p {
  color: #007bff;
  font-size: 24px;
}

/* Slideshow styles */
.slideshow-container {
  background-color: #e65100;
  max-width: 90%;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.slide {
  display: none;
}

.slide img {
  width: 100%;
  max-height: 400px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Main Content Styles */
.main-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin: 20px auto;
  max-width: 1200px;
}

.card {
  background-color: none;
  text-align: center;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  overflow: hidden;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  height: 400px;
  border-radius: 12px 12px 0 0;
}

.card-content {
  padding: 20px;
}

.card-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-description {
  font-size: 16px;
  color: #666;
}

.card a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #1273eb;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

.card a:hover {
  background-color: #50c878;
}

/* Image Container Styles */
.image-container {
  position: relative;
  text-align: center;
  padding: 50px;
  border-radius: 10px;
  margin: 20px auto;
  max-width: 800px;
}

.image-container h2 {
  font-size: 36px;
  color: black;
  margin-bottom: 10px;
}

.image-container p {
  font-size: 18px;
  line-height: 1.6;
  color: black;
}

.image-container a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #1273eb;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

.image-container img {
  width: 100%;
  max-height: 400px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.image-container:hover img {
  transform: scale(1.05);
}

/* Styles for the video */
.image-container video {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.image-container video:hover {
  transform: scale(1.05);
}

/* Styles for the catchy text */
.image-container .catchy-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  z-index: 1;
}

.image-container .catchy-text h2 {
  color: #16d452;
  font-size: 36px;
  margin-bottom: 10px;
}

.image-container .catchy-text p {
  font-size: 18px;
  line-height: 1.6;
}

.image-container .catchy-text a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

.image-container .catchy-text a:hover {
  background-color: #50c878;
}

/* Styles for the icon */
.image-container i {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 36px;
  color: #fff;
  z-index: 1;
}

.last-prayer {
  position: relative;
  max-width: 100%;
}

.last-prayer .catchy-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  padding: 20px;
}

.last-prayer .catchy-text h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.last-prayer .catchy-text p {
  font-size: 1rem;
  margin-bottom: 20px;
}

.last-prayer .catchy-text a {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1rem;
}

.last-prayer img {
  max-width: 100%;
  height: auto;
}
.last-prayer a {
  display: block;
}
.last-prayer a:hover {
  background-color: #50c878;
}

/* Media Query for Responsive Layout */
@media (max-width: 768px) {
  .last-prayer .catchy-text {
      padding: 10px;
  }

  .last-prayer .catchy-text h2 {
      font-size: 1.5rem;
  }

  .last-prayer .catchy-text p {
      font-size: 0.9rem;
  }

  .last-prayer .catchy-text a {
      font-size: 0.9rem;
  }
}

/* News and Updates styles */
.news-updates {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin: 20px auto;
  max-width: 1200px;
}

.news-item {
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.news-item a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #1273eb;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

.news-item a:hover {
  background-color: #50c878;
  transform: scale(1.05);
}

.news-item h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.news-item p {
  margin-bottom: 10px;
}

/* Newsletter Styles */
.newsletter {
  background-color: #1273eb;
  padding: 50px;
  text-align: center;
  margin: 20px auto;
  max-width: 800px;
  border-radius: 22px;
}

.newsletter input[type="email"] {
  padding: 10px;
  width: 250px;
}

.newsletter button {
  padding: 10px 20px;
  background-color: #50c878;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.newsletter button:hover {
  background-color: #358750;
}

/* Footer Styles */
footer {
  background-color: #50c878;
  color: #fff;
  text-align: center;
  padding: 30px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-left,
.footer-center {
  flex: 1;
  text-align: left;
}

.footer-center {
  display: flex;
  justify-content: center;
}

.footer-center a {
  margin: 0 8px;
}

.footer-bottom {
  margin-top: 20px;
  font-size: 14px;
}

.footer-bottom a {
  color: #fff;
  text-decoration: none;
}

.footer-bottom a:hover {
  text-decoration: underline;
}

#back-to-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #1273eb;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 50%;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: none;
}

#back-to-top-btn:hover {
  background-color: #358750;
}

