body {
    font-family: "Comic Sans MS", cursive, sans-serif; 
    background-color: #f0f0f0;
    text-align: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: none; 
    color: #fff;
}

.logo {
    width: 100px;
}

.signin-link {
    color: black;
    text-decoration: none;
    padding: 8px 16px;
    background-color: none; 
    border-radius: 4px;
}

.signin-link:hover {
    background-color: #1273eb; 
    color: white;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9; 
    border: 1px solid #ccc;
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-top: 0;
    color: #69c3ff; 
}

input[type="email"] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ddd; 
    border-radius: 8px; 
    font-family: inherit; 
}

input[type="submit"] {
    background-color: #1273eb;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #69c3ff; 
}

/*footer*/
.footer {
    background-color: none; 
    color: black;
    text-align: center;
    padding: 20px;
}

.footer a {
    color: black;
    text-decoration: none;
    margin: 0 10px;
}

.footer a:hover {
    text-decoration: underline;
}